.first{ 
    color:rgba(0,0,20); 
   }

.second { 
    color:rgba(0,0,51); 
   }

.third{ 
    color:rgb(0, 0, 117); 
   }

.fourth { 
    color:rgba(0,0,170);
   }

.fifth { 
    color:rgba(0,0,255);
   }